* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

img[src$=".jpg"] {
    border-radius: 4px;
}


