.parceiros {
    padding-top: 60px;
    padding-bottom: 120px;
}

.parceiros h2 {
    margin-bottom: 60px;
}

.parceiros ul {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.parceiros li {
    padding: 32px;
    display: flex;
    border-left: 2px solid var(--c2);
}

.parceiros li:first-child, .parceiros li:nth-child(5) {
    border-left: none;
}

.parceiros li:nth-child(n + 5) {
    /* A partir do 5 item */
    border-top: 2px solid var(--c2);
}

.parceiros img {
    /* 
        Faz com que crie automaticamente uma margin horizontalmente e verticalmente, assim alinhando a imagem (precisa ser um flex item pra funcionar)
    */
    margin: auto;
}

@media (max-width: 800px) {
    .parceiros {
        padding-bottom: 60px;
    }
    
    .parceiros h2 {
        margin-bottom: 20px;
    }

    .parceiros ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .parceiros li {
        padding: 20px;
    }

    .parceiros li:nth-child(n + 3) {
        /* A partir do 3 item */
        border-top: 2px solid var(--c2);
    }

    .parceiros li:nth-child(odd) {
        border-left: none;
    }
}
