:root {
    --button-graditent: #FFBF00, #F2A50C;
    --button-gradient-hover: #FFB60d, #E59317;
}


.container {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.botao {
    padding: 16px 32px;
    display: inline-block;
    background: linear-gradient(var(--button-graditent));
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
    text-transform: uppercase;
    color: var(--p5);
    font-family: var(--font-1);
    font: 600 1.125rem/1.35 var(--font-1);

    /* Com isso o tamanho máximo do botão será o tamanho máximo do conteúdo */
    max-width: max-content;
}

.botao:hover {
    background: linear-gradient(var(--button-gradient-hover));
}

.botao.secundario {
    background: var(--c10) ;
    color: var(--c2);
}

.botao.secundario:hover {
    background-color: var(--c9);
}

@media (max-width: 600px) {
    .botao {
        padding: 12px 16px;
        font-size: 1rem;
    }
}

.link {
    display: inline-block;
    color: var(--p1);
    font: 500 1.5rem/1.5 var(--font-1);
    text-transform: uppercase;
    transition: .3s;
}

.link::after {
    content: '';
    display: block;
    /* width: 100% para que ele tenha sempre o mesmo tamanho do elemento pai */
    width: 100%;
    height: 4px;
    /* currentColor faz com que ele use a mesma cor do elemento pai */
    background-color: currentColor;
    transition: inherit;
}

.link:hover {
    color: var(--w);
}
