.vantagens-bg {
    background-color: var(--c11);
    --padding: 120px;
}

.vantagens {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

.vantagens-h2 {
    margin-bottom: 60px;
}

.vantagens ul {
    display: grid;
    /* Terá uma quantidade de colunas de acordo com o máximo que os item puderem caber, no tamamnho minimo de 280px e máximo do tamanho máximo do conteúdo */
    /* A quantidade de colunas é definida de acordo com a quantidade máxima de item, enquanto cada item vai ter um tamanho minimo de 280px e máximo do tamanho máximo do conteúdo.*/
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    gap: 40px 80px;
}

.vantagens h3,
.vantagens img {
    margin-bottom: 8px;
}

@media (max-width: 800px) {
    .vantagens {
        --padding: 60px
    }
    .vantagens h2 {
        margin-bottom: 40px;
    }

    .vantagens ul {
        gap: 20px;
    }
}